// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
  font-size: 48px;
  height: 100px;
  color: #6F6F6F;
}

.text-searching {
  font-size: 24px;

  span.text-info {
    color: #008AE0;
    font-weight: bold;
  }
}

.row .col.s12 .article-box {
  background-color: white;
  padding: 10px 20px 40px 20px;
  border-radius: 26px;
  margin-top: 30px;
}