<header>
  <nav>
    <ul>
      <li>
        <%= link_to 'Home', root_path, class: 'btn btn-default' %>
      </li>
      <li>
        <%= link_to 'Analysis', search_consulting_path, class: 'btn btn-default' %>
      </li>
    </ul>
  </nav>
</header>